/* ===============================
   OVERLAY
================================ */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* ===============================
   MODAL CONTAINER
================================ */
.delete-modal {
  position: relative;
  width: 340px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  padding: 80px 0px 22px;
  text-align: center;
}

/* ===============================
   CLOSE ICON (TOP RIGHT)
================================ */
.delete-close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #9ca3af;
  cursor: pointer;
}

.delete-close:hover {
  color: #111827;
}

/* ===============================
   DELETE ICON
================================ */
.delete-icon {
  width: 56px;
  height: 56px;
  background: #ef4444;
  color: #ffffff;
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 22px;
  

}

/* ===============================
   TEXT
================================ */
.delete-text {
  font-size: 15px;
  font-weight: 500;
  color: #111827;
  line-height: 1.4;
  margin-bottom: 20px;
}

/* ===============================
   ACTION BUTTONS
================================ */
.delete-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-top:20px;
  border-top: 1px solid #e5e7eb;
}

/* SAME WIDTH BUTTONS */
.btn-no,
.btn-yes {
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

/* NO BUTTON */
.btn-no {
  background: #ffffff;
  border: 1px solid #cbd5e1;
  color: #111827;
}

/* YES BUTTON */
.btn-yes {
  background: #003a68;
  border: none;
  color: #ffffff;
}

.btn-yes:hover {
  background: #002f54;
}

/* REMOVE BLUE FOCUS */
.btn-no:focus,
.btn-yes:focus {
  outline: none;
  box-shadow: none;
}