/* src/Style/topbar.css */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 20px 32px;
}

.topbar-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2px;
  
}

.topbar-subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-top: 4px;
}

/* RIGHT SIDE */
.topbar-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* SEARCH */
.topbar-search {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  background: #f8f8f8;
  width: 75%;
  margin-top:10px;
}

.topbar-search input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  background-color: #f8f8f8;
}

/* BUTTONS */
.topbar-btn {
  padding: 8px 14px;
  margin-top:10px;
  border: 1px solid #e5e7eb;
  background: #fff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: 10%;
}

.topbar-btn:hover {
  background: #f9fafb;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  color: #2563eb;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 1px ;
  margin-bottom:15px;
  border-radius: 8px;
}

.back-btn:hover {
  background: #eef2ff;
}